.modal {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0000006a;

	.content {
		// .line {
		// 	height: 10px;
		// 	width: 50px;
		// 	margin-bottom: 20px;
		// 	border-radius: 20px;
		// 	background-color: #D2DADF;
		// }
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		padding-top: 10px;
		width: 100%;
		overflow-y: scroll;
		z-index: 1000;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		height: 927px;
		position: fixed;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #f5f5f5;
	}
}
.header {
	display: flex;
	align-items: center;
	color: #2078A5 !important;
	font-size: 16px;
}