.logo {
	display: flex;
	gap: 10px;
	svg {
		height: 50px;
		width: 140px;
	}
	.title {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	p {
		font-size: 11.5px;
		margin: none;
		font-weight: 300;
	}
}
